[submodule "lib/espresso-tee-contracts"]
	path = lib/espresso-tee-contracts
	url = https://github.com/EspressoSystems/espresso-tee-contracts
	branch = release-tee-caff-node
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/espresso-tee-contracts"]
	path = lib/espresso-tee-contracts
	url = https://github.com/EspressoSystems/espresso-tee-contracts
	branch = main

